# macOS metadata
.DS_Store
**/.DS_Store

# Broken generated classifier models
Feature Descriptor - Gabor/Classifier - AdaBoost/Gabor_AdaBoost_BROKEN.mat
Feature Descriptor - Gabor/Classifier - Random Forest/Gabor_RF_BROKEN.mat
Feature Descriptor - Gabor/Classifier - Standalone Decision Tree/Gabor_StandaloneDecisionTree_BROKEN.mat